@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
	--container-width: 1270px;
	--container-padding: 15px;
	--secondary: rgba(15, 31, 28, 0.5);
    --orange: #FF7C4E;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #ffffff;
	color: #0f1f1c;
}

.none {
	display: none !important;
}

.container {
	max-width: var(--container-width);
	padding: 0 var(--container-padding);
	margin: 0 auto;
}

.container-right {
	padding-left: calc((90% - var(--container-width)) / 2 + var(--container-padding));
}

.container-left {
	padding-right: calc((90% - var(--container-width)) / 2 + var(--container-padding));
}

.block {
	height: 200px;
	background-color: darkseagreen;
}

/* Header */

.header {
	overflow: hidden;
	position: relative;
	min-height: 750px;
	padding-top: 44px;
	background: linear-gradient(132.05deg, #550b21 -17.38%, #070707 78.4%), #204434;
}

.header a {
	color: #fff;
}

.header::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	background-image: url('./../img/header/header-bottom.svg');
	background-size: 100%;
	
}

.header__top {
	margin-bottom: 86px;
}

.header__row {
	display: flex;
}

.header__content {
	max-width: 592px;
	position: relative;
	z-index: 1;
}

.header__img {
	position: relative;
	flex-grow: 1;
}

.header__img img {
	position: absolute;
	top: -470px;
	right: -920px;
	max-width: unset;
	width: 650px;
	height: 550px;
	transform: translate(-930px);
    pointer-events: none;
}

.logo__img{
	position: absolute;
	top: 30px;
	right: -1030px;
	max-width: unset;
	width:  70px;
	height: 50px;
	transform: translate(-2870px);
    pointer-events: none;
}

/* Nav */

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 80px;
}

.nav__list {
	display: flex;
	column-gap: 50px;
	font-size: 20px;
	font-weight: 500;
	transform: translate(-330px);
}

.nav__list a {
	position: relative;
}

.nav__list a.active::after,
.nav__list a:hover::after {
	content: '';
	position: absolute;
	left: 0;
	right: 10px;
	bottom: -6px;
	display: block;
	/* width: 35px; */
	height: 5px;
	background-color: #315dd4;
	border-radius: 50px;
}

.nav__list.nav__list--footer a.active::after,
.nav__list.nav__list--footer a:hover::after {
    display: none;
}

.nav__list.nav__list--footer a.active,
.nav__list.nav__list--footer a:hover {
    color: var(--orange);
}

.nav__login {
	display: flex;
	align-items: center;
	column-gap: 25px;

	font-size: 15px;
	font-weight: 500;
}

/* Logo */

.logo{
	font-size: 20px;
	color: #fff;
	font-weight: 700;
	transform: translate(-230px); 
}

.logo a {
   font-family: 'Rubik Mono One', sans-serif;
   font-size: 40px;
   text-align: center;
   color: #fff;
   text-shadow: 10px 10px 30px #b41b4e, -10px -10px 30px #9e0e92;
   -webkit-text-stroke: 2px #fc78ff;
   -webkit-text-fill-color: transparent;
   letter-spacing: 5px;

}

/* Header content */

.header__badge {
	margin-bottom: 7px;
	display: inline-block;
	padding: 11px 30px;
	font-size: 18px;
	font-weight: 500;
	background: rgba(255, 255, 255, 0.25);
	border-radius: 15px;
}

.header__title {
	margin-bottom: 30px;
	font-size: 55px;
	color: #fafafa;
}

.header__text {
	margin-bottom: 68px;
	font-size: 25px;
	font-weight: 700;
	color: rgba(255, 255, 255, 0.918);
}

/* Buttons */

.btn {
	display: inline-block;
	padding: 25px 45px;
    color: #fff !important;

	background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
	border-radius: 27px;

	font-size: 20px;
	font-weight: 600;
}

.btn:hover {
	background: rgba(0,0,0,0);
	color: #1a8dc7;
	box-shadow: inset 0 0 0 3px #3a7999;
}

.btn:active {
	position: relative;
	top: 1px;
}

.btn--login {
    padding: 13px 44px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 100px;
}

.btn--singup{
	padding: 13px 44px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 100px;
}

/* Destinations */

.destinations {
	overflow-x: hidden;
	padding: 220px 0 100px;
	background-color: #000000;
}

.destinations__row {
	display: flex;
	column-gap: 50px;
}

.destinations__content {
	max-width: 370px;

}

.destinations__slider {
	width: 1110px;
	flex-shrink: 0;
}

.destinations__title {
	margin-bottom: 15px;
	font-size: 55px;
	font-weight: 600;
	color: #ffffff;
}

.destinations__title span {
	font-size: 30px;
}

.destinations__text {
	margin-bottom: 60px;
	font-size: 25px;
	font-weight: 500;
	color: var(--secondary);
	color: #ffffff;
}

.ps__img{
	position: absolute;
	top: 970px;
	right: -1170px;
	max-width: unset;
	width:  60px;
	height: 40px;
	transform: translate(-2870px);
    pointer-events: none;
}

.xbox__img{
	position: absolute;
	top: 1750px;
	right: -1170px;
	max-width: unset;
	width:  60px;
	height: 40px;
	transform: translate(-2870px);
    pointer-events: none;
}

.pc__img{
	position: absolute;
	top: 2530px;
	right: -1170px;
	max-width: unset;
	width:  60px;
	height: 40px;
	transform: translate(-2870px);
    pointer-events: none;
}

/* Slider */

.slider {
	position: relative;
	height: 456px;
}

.slider__item {
	margin-top: 27px;
	width: 335px;
	height: 402px;
	object-fit: cover;
	border-radius: 35px;
	transition: 0.2s ease-in;
}

.slider .center .slider__item {
	margin-top: 0;
	width: 350px;
	height: 520px;
}