@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --container-width: 1270px;
  --container-padding: 15px;
  --secondary: rgba(15, 31, 28, 0.5);
  --orange: #FF7C4E;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  color: #0f1f1c;
}

.none {
  display: none !important;
}

.container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}

.container-right {
  padding-left: calc((90% - var(--container-width)) / 2 + var(--container-padding));
}

.container-left {
  padding-right: calc((90% - var(--container-width)) / 2 + var(--container-padding));
}

.block {
  height: 200px;
  background-color: darkseagreen;
}

/* Header */

.header {
  overflow: hidden;
  position: relative;
  max-height: 100px;
  padding-top: 44px;
  background:  #000000
}

.header__content {
  max-width: 592px;
  position: relative;
  z-index: 1;
}

.header__img {
  position: relative;
  flex-grow: 1;
}

.header__img img {
	position: absolute;
	top: -470px;
	right: -920px;
	max-width: unset;
	width: 650px;
	height: 550px;
	transform: translate(-930px);
  pointer-events: none;
}

.logo a {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 40px;
  text-align: center;
  color: #fff;
  text-shadow: 10px 10px 30px #b41b4e, -10px -10px 30px #9e0e92;
  -webkit-text-stroke: 2px #88ff78;
  -webkit-text-fill-color: transparent;
  letter-spacing: 5px;
}

.xb{
	font-size: 10px;
	color: #fff;
	font-weight: 700;
	transform: translate(-210px);
	position: absolute;
	top: 30px;
}

.xb a {
	font-family: 'Rubik Mono One', sans-serif;
  font-size: 40px;
  text-align: center;
  color: #fff;
  text-shadow: 10px 10px 30px #1dad00, -10px -10px 30px #ffffff;
  -webkit-text-stroke: 2px #06a301;
  -webkit-text-fill-color: transparent;
  letter-spacing: 25px;
}

.xbox__img{
	font-size: 10px;
	color: #fff;
	font-weight: 700;
	position: absolute;
	top: 12px;
	width:  50px;
	height: 30px;
	transform: translate(-310px);
}


/* Header content */

.header__badge {
	margin-bottom: 7px;
	display: inline-block;
	padding: 11px 30px;
	font-size: 18px;
	font-weight: 500;
	background: rgba(255, 255, 255, 0.25);
	border-radius: 15px;
}

.header__title {
	margin-bottom: 30px;
	font-size: 55px;
	color: #fafafa;
}

.header__text {
	margin-bottom: 68px;
	font-size: 25px;
	font-weight: 700;
	color: rgba(255, 255, 255, 0.918);
}

/* Buttons */

.btn {
	display: inline-block;
	padding: 25px 45px;
  color: #fff !important;
	background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
	border-radius: 27px;
	font-size: 20px;
	font-weight: 600;
}

.btn:hover {
	background: rgba(0,0,0,0);
	color: #1a8dc7;
	box-shadow: inset 0 0 0 3px #3a7999;
}

.btn:active {
	position: relative;
	top: 1px;
}

.btn--back {
  padding: 13px 44px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 100px;
  transform: translate(1350px);
  background: #002ab6;
  padding-bottom: 10px;
}

.destinations {
	overflow-x: hidden;
	padding: 1600px 0 100px;
	background: linear-gradient(132.05deg, #02ac02 -17.38%, #252525 78.4%), #0ea800;
}

* {box-sizing: border-box;}
form {
  position: relative;
  width: 300px;
  margin: 0 auto;
  height: 42px;
  transform: translate(-900px);
  top: -1550px;	
}

input {
  height: 42px;
  width: 0;
  padding: 15px 92px 0 15px;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background: transparent;
  transition: .4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

input:focus {
  width: 300px;
  z-index: 1;
  border-bottom: 2px solid #F9F0DA;
}

button {
  background: #020202;
  border: none;
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 18px;
  color: #F9F0DA;
}